*.idea/
*.swp
*.db
dev-seed.json
dev-wallet/
*/target/
*/Cargo.lock
testnet/
regtest/
player-app-old/node_modules/**/*
player-app-old/.expo/*
player-app-old/npm-debug.*
player-app-old/*.jks
player-app-old/*.p8
player-app-old/*.p12
player-app-old/*.key
player-app-old/*.mobileprovision
player-app-old/*.orig.*
player-app-old/web-build/
